body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: rgb(37, 37, 37);
    color: rgb(235, 228, 228);
    padding: 20px;
  }
  
  .language-selector {
    float: right;
  }
  
  main {
    padding: 20px;
  }
  
  .search {
    margin-bottom: 20px;
  }
  
  .movie-list {
    margin-bottom: 20px;
  }
  
  .payment {
    border: 1px solid whitesmoke;
    padding: 20px;
  }
  
  .payment label {
    margin-right: 10px;
  }
  .carousel {
    width: 100%;
    overflow: hidden;
  }
  
  .carousel-inner {
    display: flex;
  }
  
  .carousel-item {
    flex: 0 0 auto;
    margin-right: 20px; /* Adjust as needed */
  }
  
  .carousel-item img {
    max-width: 100%;
    height: auto;
  }
  
  .carousel-control-prev,
  .carousel-control-next {
    width: auto;
  }
  
  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    background-image: none; 
  }
  .seat-map {
    display: grid;
    grid-template-columns: repeat(10, 1fr); 
    grid-gap: 5px;
  }
  
  .seat {
    width: 30px;
    height: 30px;
    background-color: gainsboro;
    border: 1px solid gray;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  
  .seat.selected {
    background-color: green; /* Change color for selected seats */
  }
  .pay-now-button {
    background-color: rgb(0, 110, 255); 
    color: whitesmoke; 
    padding: 10px 20px; 
    border: none; 
    border-radius:5px;
    cursor: pointer;
  }